#cabeca,button{
    background-color: #948979;
    color: #f5f5f5;
    border: none;
    border-radius: 10vw;
}

body{
    background-color: #393e46;
}

label,input,span{
    color: #f5f5f5;
}

input{
    border-color: #f5f5f5;
}
