#cabeca,button{
    background-color: #dfd0b8;
    color: #222831;
    border: none;
    border-radius: 10vw;
}

body{
    background-color: #f5f5f5;
}

label,input,span{
    color: #222831;
}

input{
    border-color: #222831;
}
